In [1]:
import os
from google.cloud import bigquery

In [3]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="api_key.json"
client = bigquery.Client()

In [10]:
query = ''' SELECT * FROM `bigquery-public-data.google_analytics_sample.ga_sessions_20170801` LIMIT 2000'''
df = client.query(query).to_dataframe()

In [16]:
sequence_of_hits='''SELECT
fullVisitorId,
visitId,
visitNumber,
hits.hitNumber AS hitNumber,
hits.page.pagePath AS pagePath
FROM
`bigquery-public-data.google_analytics_sample.ga_sessions_*`,
UNNEST(hits) as hits
WHERE
_TABLE_SUFFIX BETWEEN '20170701' AND '20170731'
AND
hits.type="PAGE"
ORDER BY
fullVisitorId,
visitId,
visitNumber,
hitNumber'''
sequenceHits_df = client.query(sequence_of_hits).to_dataframe()

In [1]:
avg_before_purchase='''SELECT productSKU, ( sum_of_hit_number / total_hits ) AS avg_hit_number
                       FROM ( 
                              SELECT productSKU, SUM(hitNumber) AS sum_of_hit_number
                              FROM `bigquery-public-data.google_analytics_sample.ga_sessions_20160801`,
                              UNNEST(ARRAY(totals)),
                              UNNEST(hits),
                              UNNEST(hits.product) product
                              WHERE productSKU IS NOT NULL
                              AND productSKU=GGOEGESB015199
                              AND totals.transactions>=1
                              GROUP BY productSKU 
                             ) AS product1
                       JOIN (
                               SELECT productSKU, COUNT( fullVisitorId ) AS total_hits
                               FROM `bigquery-public-data.google_analytics_sample.ga_sessions_20160801`,
                               UNNEST(ARRAY(totals)),
                               UNNEST(hits),
                               UNNEST(hits.product) product
                               WHERE productSKU IS NOT NULL
                               AND productSKU=GGOEGBFC018799
                               AND totals.transactions>=1
                               GROUP BY productSKU 
                             ) AS product2
                       ON product1.productSKU = product2.productSKU;'''
#hits_product_df = client.query(avg_before_purchase).to_dataframe()
#hits_product_df.head()

In [214]:
query_hits_product = '''SELECT visitId, productSKU, v2ProductName, v2ProductCategory, productVariant, productBrand, 
                        productRevenue, localProductRevenue, productPrice, localProductPrice, productQuantity, 
                        productRefundAmount, localProductRefundAmount, isImpression, isClick, productListName, 
                        productListPosition, productCouponCode, hits.customMetrics, hits.customDimensions
                        FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`,
                        UNNEST (hits) hits,
                        UNNEST (hits.product) product
                        WHERE _TABLE_SUFFIX BETWEEN "20170801" AND "20170801"
                        LIMIT 55
                        '''
hits_product_df = client.query(query_hits_product).to_dataframe()
hits_product_df.head()

,visitId,productSKU,v2ProductName,v2ProductCategory,productVariant,productBrand,productRevenue,localProductRevenue,productPrice,localProductPrice,productQuantity,productRefundAmount,localProductRefundAmount,isImpression,isClick,productListName,productListPosition,productCouponCode,customMetrics,customDimensions
0,1501583974,GGOEGBFC018799,Electronics Accessory Pouch,Home/Electronics/,(not set),(not set),NaN,NaN,4990000,4990000,NaN,NaN,NaN,True,None,Category,1,None,[],[]
1,1501583974,GGOEGESB015199,Google Flashlight,Home/Electronics/,(not set),(not set),NaN,NaN,59990000,59990000,NaN,NaN,NaN,True,None,Category,2,None,[],[]
2,1501583974,GGOEGEVA022399,Micro Wireless Earbud,Home/Electronics/,(not set),(not set),NaN,NaN,39990000,39990000,NaN,NaN,NaN,True,None,Category,3,None,[],[]
3,1501583974,GGOEGCBB074199,Google Car Clip Phone Holder,Home/Electronics/,(not set),(not set),NaN,NaN,6990000,6990000,NaN,NaN,NaN,True,None,Category,4,None,[],[]
4,1501583974,GGOEGFKA022299,Keyboard DOT Sticker,Home/Electronics/,(not set),(not set),NaN,NaN,1500000,1500000,NaN,NaN,NaN,True,None,Category,5,None,[],[]

In [11]:
query= '''
WITH ga_tables AS (
SELECT
date,
SUM(totals.visits) AS visits,
SUM(totals.pageviews) AS pageviews,
SUM(totals.transactions) AS transactions,
SUM(totals.transactionRevenue)/1000000 AS revenue
FROM `bigquery-public-data.google_analytics_sample.ga_sessions_20160801`
GROUP BY date

UNION ALL

SELECT
date,
SUM(totals.visits) AS visits,
SUM(totals.pageviews) AS pageviews,
SUM(totals.transactions) AS transactions,
SUM(totals.transactionRevenue)/1000000 AS revenue
FROM `bigquery-public-data.google_analytics_sample.ga_sessions_20160802`
GROUP BY date

)
SELECT
date,
visits,
pageviews,
transactions,
revenue,
FROM ga_tables
ORDER BY date ASC'''
client.query(query).to_dataframe()

       date  visits  pageviews  transactions  revenue
0  20160801    1711       9843            34  6116.06
1  20160802    2140      11784            18  1361.19

# UNSET DATA TO SEE ALL FEATURES

### hits

In [137]:
#missing customDimensions
#need to remove arrays

query8_hits='''SELECT visitId, hitNumber, time, hour, isSecure, isInteraction, isEntrance,
                    isExit, referer, contentInfo, eventInfo, promotion, promotionActionInfo,
                    refund, experiment, publisher, customVariables, customMetrics,
                    type, latencyTracking, sourcePropertyInfo, dataSource, publisher_infos
                FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`,
                UNNEST(hits)
                WHERE _TABLE_SUFFIX BETWEEN '20170801' AND '20170801'
                LIMIT 1000
                '''
hits_df = client.query(query8_hits).to_dataframe()
hits_df.head()

,visitId,hitNumber,time,hour,isSecure,isInteraction,isEntrance,isExit,referer,contentInfo,...,refund,experiment,publisher,customVariables,customMetrics,type,latencyTracking,sourcePropertyInfo,dataSource,publisher_infos
0,1501583974,1,0,3,None,True,True,True,http://www.google.com/,None,...,None,[],None,[],[],PAGE,None,None,web,[]
1,1501616585,1,0,12,None,True,True,True,https://www.google.com/,None,...,None,[],None,[],[],PAGE,None,None,web,[]
2,1501583344,1,0,3,None,True,True,True,https://www.google.co.in/,None,...,None,[],None,[],[],PAGE,None,None,web,[]
3,1501573386,1,0,0,None,True,True,True,None,None,...,None,[],None,[],[],PAGE,None,None,web,[]
4,1501651467,1,0,22,None,True,True,True,None,None,...,None,[],None,[],[],PAGE,None,None,web,[]

In [155]:
querytest='''SELECT visitId, promoId, promoName, promoCreative
             FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`,
             UNNEST(hits) hits,
             UNNEST(hits.promotion) promotion
             WHERE _TABLE_SUFFIX BETWEEN '20170801' AND '20170801'
             LIMIT 1000                           
            '''
client.query(querytest).to_dataframe()

,visitId,promoId,promoName,promoCreative
0,1501602613,Apparel Row 1,Apparel,home_main_link_apparel.jpg
1,1501602613,Backpacks Row 2 Combo,Backpacks,home_bags_google_2.jpg
2,1501602613,Mens T-Shirts Row 3-1,Mens T-Shirts,mens-tshirts.jpg
3,1501602613,Womens T-Shirts Row 3-2,Womens T-Shirts,womens-tshirts.jpg
4,1501602613,Office Row 5 Color Combo,Office,green_row_link_to_office.jpg
...,...,...,...,...
995,1501603079,Drinkware Row 4 Color Combo,Drinkware,red_row_hydrate.jpg
996,1501603079,Google Brand Row 7-1,Google Brand,home_lower_google_500.jpg
997,1501603079,YouTube Brand Row 7-2,YouTube Brand,home_lower_youtube_500.jpg
998,1501603079,Android Brand Row 7-3,Andriod Brand,home_lower_android_500.jpg
999,1501607957,Apparel Row 1,Apparel,home_main_link_apparel.jpg

In [179]:
#IN THE WORKS
querytest='''SELECT visitId, promotionActionInfo
             FROM (
                    SELECT visitId, promotionActionInfo
                    FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`,
                    UNNEST(hits)
                    WHERE _TABLE_SUFFIX BETWEEN '20170801' AND '20170801'
                    LIMIT 1000)
             WHERE promotionActionInfo IS NOT NULL
            '''
client.query(querytest).to_dataframe()

        visitId                          promotionActionInfo
0    1501602613  {'promoIsView': True, 'promoIsClick': None}
1    1501624782  {'promoIsView': True, 'promoIsClick': None}
2    1501576929  {'promoIsView': True, 'promoIsClick': None}
3    1501610904  {'promoIsView': True, 'promoIsClick': None}
4    1501598005  {'promoIsView': True, 'promoIsClick': None}
..          ...                                          ...
126  1501625881  {'promoIsView': True, 'promoIsClick': None}
127  1501609515  {'promoIsView': True, 'promoIsClick': None}
128  1501610705  {'promoIsView': True, 'promoIsClick': None}
129  1501624141  {'promoIsView': True, 'promoIsClick': None}
130  1501594952  {'promoIsView': True, 'promoIsClick': None}

[131 rows x 2 columns]

In [13]:
querytest='''SELECT visitId, experimentId, experimentVariant
                           FROM UNNEST(ARRAY(
                               SELECT experiment
                               FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`,
                               UNNEST(hits)
                               WHERE _TABLE_SUFFIX BETWEEN '20170801' AND '20170801'
                               LIMIT 1000))'''
#client.query(querytest).to_dataframe()

In [14]:
querytest='''SELECT visitId, experiment
             FROM (
                    SELECT visitId, experiment
                    FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`,
                    UNNEST(hits),
                    UNNEST(hits.experiment)
                    WHERE _TABLE_SUFFIX BETWEEN '20170801' AND '20170801'
                    LIMIT 1000)
             WHERE experiment IS NOT NULL
            '''
#client.query(querytest).to_dataframe()

In [5]:
def query_nested_hits(key):
    
    query=f'''SELECT * FROM UNNEST(ARRAY(
                 SELECT {key}
                 FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`,
                 UNNEST(hits)
                 WHERE _TABLE_SUFFIX BETWEEN '20170801' AND '20170801'
                 LIMIT 1000))
                '''
    return client.query(query).to_dataframe()

In [216]:
hits_page_df = query_nested_hits('page')#
hits_transaction_df = query_nested_hits('transaction')#
hits_item_df = query_nested_hits('item')#
hits_appInfo_df = query_nested_hits('appInfo')#
hits_exceptionInfo_df = query_nested_hits('exceptionInfo')
hits_eCommerceAction_df = query_nested_hits('eCommerceAction')#
hits_social_df = query_nested_hits('social')#
hits_contentGroup_df = query_nested_hits('contentGroup')#

In [7]:
hits_exceptionInfo_df = query_nested_hits('exceptionInfo')
get_info(hits_exceptionInfo_df)
hits_exceptionInfo_df.head()

Shape:
(1000, 4)

% of Missing Data:
description        100.0
isFatal              0.0
exceptions         100.0
fatalExceptions    100.0
dtype: float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   description      0 non-null      object
 1   isFatal          1000 non-null   bool
 2   exceptions       0 non-null      float64
 3   fatalExceptions  0 non-null      float64
dtypes: bool(1), float64(2), object(1)
memory usage: 24.5+ KB
Info:
None

plot data?No

  description  isFatal  exceptions  fatalExceptions
0        None     True         NaN              NaN
1        None     True         NaN              NaN
2        None     True         NaN              NaN
3        None     True         NaN              NaN
4        None     True         NaN              NaN

In [6]:
hits_eCommerceAction_df = query_nested_hits('eCommerceAction')
get_info(hits_eCommerceAction_df)
hits_eCommerceAction_df.head()

Shape:
(1000, 3)

% of Missing Data:
action_type      0.0
step             0.0
option         100.0
dtype: float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   action_type  1000 non-null   object
 1   step         1000 non-null   int64
 2   option       0 non-null      object
dtypes: int64(1), object(2)
memory usage: 23.6+ KB
Info:
None

plot data?No

  action_type  step option
0           0     1   None
1           0     1   None
2           0     1   None
3           0     1   None
4           0     1   None

In [230]:
get_info(hits_appInfo_df)
hits_appInfo_df.head()

Shape:
(1000, 12)

% of Missing Data:
name                 100.0
version              100.0
id                   100.0
installerId          100.0
appInstallerId       100.0
appName              100.0
appVersion           100.0
appId                100.0
screenName             0.0
landingScreenName      0.0
exitScreenName         0.0
screenDepth            0.0
dtype: float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               0 non-null      object
 1   version            0 non-null      object
 2   id                 0 non-null      object
 3   installerId        0 non-null      object
 4   appInstallerId     0 non-null      object
 5   appName            0 non-null      object
 6   appVersion         0 non-null      object
 7   appId              0 non-null      object
 8   screenName         1000 non-null   object
 9   landingScreenName  1000 non-null   object
 10  exitScreenName     1000 non-null   object
 11  screenDepth        1000 non-null   object
dtypes: object(12)
memory usage: 93.9+ KB
Info:
None

plot data?No

,name,version,id,installerId,appInstallerId,appName,appVersion,appId,screenName,landingScreenName,exitScreenName,screenDepth
0,None,None,None,None,None,None,None,None,shop.googlemerchandisestore.com/google+redesig...,shop.googlemerchandisestore.com/google+redesig...,shop.googlemerchandisestore.com/google+redesig...,0
1,None,None,None,None,None,None,None,None,shop.googlemerchandisestore.com/google+redesig...,shop.googlemerchandisestore.com/google+redesig...,shop.googlemerchandisestore.com/google+redesig...,0
2,None,None,None,None,None,None,None,None,shop.googlemerchandisestore.com/google+redesig...,shop.googlemerchandisestore.com/google+redesig...,shop.googlemerchandisestore.com/google+redesig...,0
3,None,None,None,None,None,None,None,None,shop.googlemerchandisestore.com/google+redesig...,shop.googlemerchandisestore.com/google+redesig...,shop.googlemerchandisestore.com/google+redesig...,0
4,None,None,None,None,None,None,None,None,shop.googlemerchandisestore.com/google+redesig...,shop.googlemerchandisestore.com/google+redesig...,shop.googlemerchandisestore.com/google+redesig...,0

In [229]:
get_info(hits_contentGroup_df)
hits_contentGroup_df.head()

Shape:
(1000, 15)

% of Missing Data:
contentGroup1                 0.0
contentGroup2                 0.0
contentGroup3                 0.0
contentGroup4                 0.0
contentGroup5                 0.0
previousContentGroup1         0.0
previousContentGroup2         0.0
previousContentGroup3         0.0
previousContentGroup4         0.0
previousContentGroup5         0.0
contentGroupUniqueViews1     99.9
contentGroupUniqueViews2     52.8
contentGroupUniqueViews3     99.3
contentGroupUniqueViews4    100.0
contentGroupUniqueViews5    100.0
dtype: float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   contentGroup1             1000 non-null   object
 1   contentGroup2             1000 non-null   object
 2   contentGroup3             1000 non-null   object
 3   contentGroup4             1000 non-null   object
 4   contentGroup5             1000 non-null   object
 5   previousContentGroup1     1000 non-null   object
 6   previousContentGroup2     1000 non-null   object
 7   previousContentGroup3     1000 non-null   object
 8   previousContentGroup4     1000 non-null   object
 9   previousContentGroup5     1000 non-null   object
 10  contentGroupUniqueViews1  1 non-null      float64
 11  contentGroupUniqueViews2  472 non-null    float64
 12  contentGroupUniqueViews3  7 non-null      float64
 13  contentGroupUniqueViews4  0 non-null      float64
 14  contentGroupUniqueViews5  0 non-null      float64
dtypes: float64(5), object(10)
memory usage: 117.3+ KB
Info:
None

plot data?No

,contentGroup1,contentGroup2,contentGroup3,contentGroup4,contentGroup5,previousContentGroup1,previousContentGroup2,previousContentGroup3,previousContentGroup4,previousContentGroup5,contentGroupUniqueViews1,contentGroupUniqueViews2,contentGroupUniqueViews3,contentGroupUniqueViews4,contentGroupUniqueViews5
0,(not set),Electronics,(not set),(not set),(not set),(entrance),(entrance),(entrance),(entrance),(entrance),NaN,1.0,NaN,NaN,NaN
1,(not set),Apparel,(not set),(not set),(not set),(entrance),(entrance),(entrance),(entrance),(entrance),NaN,1.0,NaN,NaN,NaN
2,(not set),Brands,(not set),(not set),(not set),(entrance),(entrance),(entrance),(entrance),(entrance),NaN,1.0,NaN,NaN,NaN
3,(not set),Electronics,(not set),(not set),(not set),(entrance),(entrance),(entrance),(entrance),(entrance),NaN,1.0,NaN,NaN,NaN
4,(not set),Apparel,(not set),(not set),(not set),(entrance),(entrance),(entrance),(entrance),(entrance),NaN,1.0,NaN,NaN,NaN

In [227]:
get_info(hits_item_df)
hits_item_df.head()

Shape:
(1000, 8)

% of Missing Data:
transactionId       100.0
productName         100.0
productCategory     100.0
productSku          100.0
itemQuantity        100.0
itemRevenue         100.0
currencyCode         52.8
localItemRevenue    100.0
dtype: float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transactionId     0 non-null      object
 1   productName       0 non-null      object
 2   productCategory   0 non-null      object
 3   productSku        0 non-null      object
 4   itemQuantity      0 non-null      float64
 5   itemRevenue       0 non-null      float64
 6   currencyCode      472 non-null    object
 7   localItemRevenue  0 non-null      float64
dtypes: float64(3), object(5)
memory usage: 62.6+ KB
Info:
None

plot data?No

,transactionId,productName,productCategory,productSku,itemQuantity,itemRevenue,currencyCode,localItemRevenue
0,None,None,None,None,NaN,NaN,USD,NaN
1,None,None,None,None,NaN,NaN,USD,NaN
2,None,None,None,None,NaN,NaN,USD,NaN
3,None,None,None,None,NaN,NaN,USD,NaN
4,None,None,None,None,NaN,NaN,USD,NaN

In [225]:
get_info(hits_page_df)
hits_page_df.head()

Shape:
(1000, 9)

% of Missing Data:
pagePath            0.0
hostname            0.0
pageTitle           0.0
searchKeyword     100.0
searchCategory    100.0
pagePathLevel1      0.0
pagePathLevel2      0.0
pagePathLevel3      0.0
pagePathLevel4      0.0
dtype: float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pagePath        1000 non-null   object
 1   hostname        1000 non-null   object
 2   pageTitle       1000 non-null   object
 3   searchKeyword   0 non-null      object
 4   searchCategory  0 non-null      object
 5   pagePathLevel1  1000 non-null   object
 6   pagePathLevel2  1000 non-null   object
 7   pagePathLevel3  1000 non-null   object
 8   pagePathLevel4  1000 non-null   object
dtypes: object(9)
memory usage: 70.4+ KB
Info:
None

plot data?No

,pagePath,hostname,pageTitle,searchKeyword,searchCategory,pagePathLevel1,pagePathLevel2,pagePathLevel3,pagePathLevel4
0,/google+redesign/electronics,shop.googlemerchandisestore.com,Electronics | Google Merchandise Store,None,None,/google+redesign/,/electronics,,
1,/google+redesign/apparel/mens/mens+outerwear,shop.googlemerchandisestore.com,Men's Outerwear | Apparel | Google Merchandise...,None,None,/google+redesign/,/apparel/,/mens/,/mens+outerwear
2,/google+redesign/shop+by+brand/android,shop.googlemerchandisestore.com,Android | Shop by Brand | Google Merchandise S...,None,None,/google+redesign/,/shop+by+brand/,/android,
3,/google+redesign/electronics/power,shop.googlemerchandisestore.com,Power & Chargers | Electronics | Google Mercha...,None,None,/google+redesign/,/electronics/,/power,
4,/google+redesign/apparel/mens,shop.googlemerchandisestore.com,Men's Apparel | Google Merchandise Store,None,None,/google+redesign/,/apparel/,/mens,

In [219]:
get_info(hits_social_df)

Shape:
(1000, 8)

% of Missing Data:
socialInteractionNetwork          100.0
socialInteractionAction           100.0
socialInteractions                100.0
socialInteractionTarget           100.0
socialNetwork                       0.0
uniqueSocialInteractions          100.0
hasSocialSourceReferral             0.0
socialInteractionNetworkAction      0.0
dtype: float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   socialInteractionNetwork        0 non-null      object
 1   socialInteractionAction         0 non-null      object
 2   socialInteractions              0 non-null      float64
 3   socialInteractionTarget         0 non-null      object
 4   socialNetwork                   1000 non-null   object
 5   uniqueSocialInteractions        0 non-null      float64
 6   hasSocialSourceReferral         1000 non-null   object
 7   socialInteractionNetworkAction  1000 non-null   object
dtypes: float64(2), object(6)
memory usage: 62.6+ KB
Info:
None

plot data?No

In [218]:
get_info(hits_transaction_df)

Shape:
(1000, 10)

% of Missing Data:
transactionId               100.0
transactionRevenue          100.0
transactionTax              100.0
transactionShipping         100.0
affiliation                 100.0
currencyCode                 52.8
localTransactionRevenue     100.0
localTransactionTax         100.0
localTransactionShipping    100.0
transactionCoupon           100.0
dtype: float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   transactionId             0 non-null      object
 1   transactionRevenue        0 non-null      float64
 2   transactionTax            0 non-null      float64
 3   transactionShipping       0 non-null      float64
 4   affiliation               0 non-null      object
 5   currencyCode              472 non-null    object
 6   localTransactionRevenue   0 non-null      float64
 7   localTransactionTax       0 non-null      float64
 8   localTransactionShipping  0 non-null      float64
 9   transactionCoupon         0 non-null      object
dtypes: float64(6), object(4)
memory usage: 78.2+ KB
Info:
None

plot data?No

We will keep all the information for products as the missing data could give us a look into how often people don't refund or use coupons and still buy the product

In [ ]:
#What is the total number of transactions generated per device or browser from June 2017 to August 2017?
query='''SELECT * FROM (
                        SELECT IFNULL(SUM(totals.transactions),0) AS Transactions , device.browser AS device
                        FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`
                        WHERE _table_suffix BETWEEN '20170601' AND '20170830'
                        GROUP BY device 
                        ORDER BY Transactions DESC
                        )
         WHERE Transactions > 0'''

client.query(query).to_dataframe()

In [ ]:
# PAGE VIEWS

#What is the sequence of pages viewed?

query = ''' SELECT fullVisitorId, 
                   visitId, 
                   visitNumber,
                   hits.hitNumber AS hitNumber,
                   hits.page.pagePath AS pagePath,
                   IFNULL(totals.transactions, 0) AS transactions
            FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`,
                  UNNEST(hits) as hits
            WHERE _TABLE_SUFFIX BETWEEN '20170601' AND '20170830'
                  AND hits.type="PAGE"
            ORDER BY fullVisitorId,
                     visitId,
                     visitNumber,
                     hitNumber '''
sequencePath_df = client.query(query).to_dataframe()

sequencePath_df.to_csv('sequencePath_20170601_to_20170830')
#sequencePath_df = pd.read_csv('sequencePath_20170601_to_20170830')

sequencePath_df[sequencePath_df.transactions > 0].head(10)

In [ ]:
# What was the total number of pageviews, visits, transactions, and revenue from June 2017 to August 2017?
query= '''SELECT date,
                 SUM(totals.visits) AS visits,
                 SUM(totals.pageviews) AS pageviews,
                 SUM(totals.transactions) AS transactions,
                 SUM(totals.transactionRevenue)/1000000 AS revenue_millions
          FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`
          WHERE _TABLE_SUFFIX BETWEEN '20170601' AND '20170830'
          GROUP BY date
          ORDER BY date ASC;'''

total_views = client.query(query).to_dataframe()
total_view.head()

#What was the average number of product pageviews per day for users who made a purchase in June/July/August 2017?

query = ''' SELECT (SUM(pageviews)/SUM(users)) AS avg_number_of_product_pageviews
            FROM (
                 SELECT sum(totals.pageviews) as pageviews,
                   COUNT(fullvisitorid) as users
                 FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`
                 WHERE _table_suffix BETWEEN '20170601' AND '20170630'
                 GROUP BY totals.transactions
                 HAVING totals.transactions >=1
                 )
                                        
            UNION ALL

            SELECT (SUM(pageviews)/SUM(users)) AS avg_number_of_product_pageviews
            FROM (
            SELECT sum(totals.pageviews) as pageviews,
            COUNT(fullvisitorid) as users
            FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`
            WHERE _table_suffix BETWEEN '20170701' AND '20170730'
            GROUP BY totals.transactions
            HAVING totals.transactions >=1
            )

            UNION ALL

            SELECT (SUM(pageviews)/SUM(users)) AS avg_number_of_product_pageviews
            FROM (
            SELECT sum(totals.pageviews) as pageviews,
            COUNT(fullvisitorid) as users
            FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`
            WHERE _table_suffix BETWEEN '20170801' AND '20170830'
            GROUP BY totals.transactions
            HAVING totals.transactions >=1
            ) '''

purchaseTrue_df = client.query(query).to_dataframe()
purchaseTrue_df

#What is the exit rate for each pageview in July 2017?
query ='''SELECT hits.page.pagePath,
                 count(*) as pageviews,
                 countif(hits.isEntrance) as entrances,
                 countif(hits.isExit) as exits,
                 round(100*(countif(hits.isExit)/count(*)), 2) as exitRate
                 FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`, 
                 unnest(hits) as hits 
                 WHERE hits.type = "PAGE"
                 AND _TABLE_SUFFIX BETWEEN '20170701' AND '20170731'
                 GROUP BY 1
                 ORDER BY 2 DESC'''
pageview = client.query(query).to_dataframe()

In [ ]:
#product info

query_hits_product = '''SELECT visitId, productSKU, v2ProductName, v2ProductCategory, productVariant, productBrand, 
                        productRevenue, localProductRevenue, productPrice, localProductPrice, productQuantity, 
                        productRefundAmount, localProductRefundAmount, isImpression, isClick, productListName, 
                        productListPosition, productCouponCode, hits.customMetrics, hits.customDimensions
                        FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`,
                        UNNEST (hits) hits,
                        UNNEST (hits.product) product
                        WHERE _TABLE_SUFFIX BETWEEN "20170801" AND "20170801"
                        LIMIT 55
                        '''
hits_product_df = client.query(query_hits_product).to_dataframe()
hits_product_df.head()

#shopping behavior

query = """SELECT product.v2ProductName AS product_name,
                  SUM(CASE WHEN hits.eCommerceAction.action_type = "1" THEN 1 END) AS productListView,
                  SUM(CASE WHEN hits.eCommerceAction.action_type = "2" THEN 1 END) AS productDetailView,
                  SUM(CASE WHEN hits.eCommerceAction.action_type = "3" THEN 1 END) AS addToCart,
                  SUM(CASE WHEN hits.eCommerceAction.action_type = "4" THEN 1 END) AS removeToCart,
                  SUM(CASE WHEN hits.eCommerceAction.action_type = "5" THEN 1 END) AS checkout,
                  SUM(CASE WHEN hits.eCommerceAction.action_type = "6" THEN 1 END) AS transaction,
            FROM `bigquery-public-data.google_analytics_sample.ga_sessions_*`,
            UNNEST (hits) hits,
            UNNEST (hits.product) product
            WHERE _TABLE_SUFFIX BETWEEN "20170701" AND "20170731"
            GROUP BY product_name
            ORDER BY transaction DESC
            LIMIT 30"""

behavior= client.query(query).to_dataframe()

In [ ]:
The real bounce rate is defined as the percentage of visits with a single pageview. What was the real bounce rate per traffic source?

What was the average total transactions per user that made a purchase in July 2017?

What is the average amount of money spent per session in July 2017?

What is the average purchase size, customer revenue, product revenue, transaction revenue per month?

Do customers purchase something on their first visit? Or more often it is their second visit?

Bounce rate based on source

bounce rate based on the most viewed pages 

Number of customers who visit the website for the first time(new visitors)

RETURNING VISITORS(%)(RVR)

How many customers returned for repeat purchases?

How does June/July/August cohort compare and contrast in performance against one another?
- Number of returning customers?
- Number of transactions?
- Number of items purchased?
- Amount of revenue generated?

In [ ]:
sample_size=2000

indices = train[train.label == '0'].index
random_indices = np.random.choice(indices, sample_size, replace=False)
train_undersample = train.iloc[random_indices]

sample_size = sum(train.label == '1')
random_indices = np.random.choice(indices, sample_size, replace=False)
#sample_size

train.iloc[random_indices]

### RANDOM OVERSAMPLING
'''sample_size = 2000
train_indices = train[train.label == '1'].index
random_indices = np.random.choice(train_indices, sample_size, replace=True)
purchased_sample = train.iloc[random_indices]'''

# SOURCE

- __FEATURE DESCRIPTION:__ https://support.google.com/analytics/answer/3437719?hl=en
- https://cloud.google.com/docs/authentication/getting-started#cloud-console
- https://cloud.google.com/bigquery/docs/quickstarts/quickstart-client-libraries
- https://cloud.google.com/bigquery/docs/samples/bigquery-extract-table#bigquery_extract_table-python
- https://cloud.google.com/bigquery/docs/samples/bigquery-create-table-cmek
- https://medium.com/firebase-developers/using-the-unnest-function-in-bigquery-to-analyze-event-parameters-in-analytics-fb828f890b42
- https://www.kaggle.com/emilijastaneviciute/google-analytics-data-analysis/execution
- https://support.google.com/analytics/answer/4419694?hl=en#zippy=%2Cin-this-article

- https://adswerve.com/blog/google-analytics-bigquery-tips-users-sessions-part-one/
- https://adswerve.com/blog/google-analytics-queries-in-bigquery-part-two-users-sessions-unnesting-hits/
- https://adswerve.com/blog/google-analytics-bigquery-tips-page-metrics-part-three/

 - https://www.analyticsvidhya.com/blog/2017/03/imbalanced-data-classification/
 - https://towardsdatascience.com/feature-engineering-for-machine-learning-3a5e293a5114#1c08